body {
    background-color: #d1d1d1;
}

.jumbotron {
    text-align: center;
    font-family: cursive;
    background-color: #000;
    color: #fff;
}


.form-control {
    border-color: #53c653;
}

#h1Jb {
    font-size: 50px;
}

.input-group {
    max-width: 100%;
}

.forList {
    width: 50%;
    border: 3px solid #555;
    padding: 10px;
    background-color: #e5e5e5;
    text-align: center;
}

.list-group-item{
    width: 100%;
    padding: 4px;
    border: 2px solid #008888;
    background-color: #00cccc;
    font-weight: bold;
    margin-bottom: 2px;
}

ul li{
    cursor: pointer;
}